#homepage_panels {
	height: auto;
	background: #FFF;
}
#homepage_panels .panel,
#homepage_panels .panel .subpanel {
	display: block !important;
	float: left;
	clear: both;
	visibility: visible;
	height: auto;
}

#homepage_panels .panel {
	width: 100%;
	margin-top: 20px;
}

#homepage_panels .panel nav {
	display: none;
}

#nav_fat {
	clear: both;
	position: relative;
	top: 0px;
}

#widget_promos {
	clear: both;
	display: block;
	position: relative;
}