
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Copa Airlines</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/copa_style.css" rel="stylesheet">

  </head>

  <body ng-app="darkSite">

    <div class="container" ng-controller="MenuController as menuCtr">
      <div class="row">
        <div class="col-xs-6 col-md-9 col-lg-9">
          <a href="www.copaair.com">
            <img src="img/COPA_STAR_LOGO.svg" class="logo_copa">
          </a>  
        </div>
        <div class="pull-right col-xs-6 col-md-3 col-lg-3">
         
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-globe fa-3"></i></div>
                <select class="form-control" ng-model="menuCtr.currentLang" ng-change="menuCtr.setLang()">
                  <option value="en" selected>Inglés</option>
                  <option value="es">Español</option>
                  <option value="pt">Portugués</option>
                </select>
              </div>
            </div>
         
          </div>
          
      </div>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        
          <div class="navbar-header">
            <button type="button" 
              class="navbar-toggle collapsed" 
              data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">

              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="item in menuCtr.menuTop">
                <a href="{{ item.url }}" ng-class="menuCtr.navClass">
                  {{ item.text }}
                </a>
              </li>
            </ul>
            
          </div><!--/.nav-collapse -->
      </nav>
      <div class="row">
        <div class="col-sm-4">
          <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav">
              <ul class="nav" id="side-menu">
                <li class="active">
                  <a href="#"><i class="fa fa-book fa-2"></i> {{ menuCtr.menuLeft.title }} <span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                    <li ng-repeat="item in menuCtr.menuLeft.items">
                      <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                  </ul><!-- /.nav-second-level -->
                </li>
              </ul>
            </div><!-- /.sidebar-collapse -->
          </div>
        </div><!-- col-sm-4 -->

        <div id="content" class="col-sm-8 blog-main">
          <div class="blog-post">
            <h1>Latest News</h1>
            <p>PANAMA (Nov. 26, 2014) – Copa Airlines regrets to inform that flight CM9972, aircraft model EMB190 (HP-1540), involved in a hijack incident, suffered an explosion upon landing at Tocumen International Airport in Panama City.</p>
   
            <p>Preliminarily information shows that out of the 58 passengers and 5 crew members on board, there are 8 severely injured passengers, 10 minor injuries, and 39 uninjured passengers among which are 3 suspected kidnappers and all crew members. We also regret to confirm that as of now there are 5 fatalities and one missing passenger.</p>
            
            <p>Copa Airlines has made the following toll-free telephone numbers available to the families of the passengers and crew of flight CM9972:</p>
            <ul>
              <li><strong><p>From Panama 8000197</p></strong></li>
              <li><strong><p>From Colombia 018007102179</p></strong></li>
              <li><strong><p>From United States 8887057560</p></strong></li>
              <li><strong><p>From Venezuela 08001009107</p></strong></li>
              <li><strong><p>From Salvador 8006814</p></strong></li>
              <li><strong><p>From Spain 900808890</p></strong></li>
              <li><strong><p>From Cuba 14073620632 (call collect)</p></strong></li>
            </ul>
            <p>These numbers will be available for exclusive use by family members of passengers and crew 24 hours/day. They are not intended for use by media.</p>
            <p>Media may call the Copa Airlines Crisis Communications Call Center: (+507) 304-2077. Copa Airlines will conduct a news conference at 4 p.m., local Panama time in the Auditorium of its Headquarters located in Urbanización Costa del Este in Panama.</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->
      <footer>
        <div class="row">
          
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                
                <th><p>Flight Information</p></th>
              
                <th><p>Passenger Service</p></th>
                
              </tr>
              </thead>
              <tbody>
                <tr>
                 
                  <td>
                    <a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/condiciones-generales-de-equipaje.aspx">
                      Baggage
                    </a>
                  </td>
                  
                  <td>
                    <a href="http://www.copaair.com/sites/CC/en/Nuestros-Productos/Pages/seguro-de-viaje.aspx">
                      Contact Us
                    </a>
                  </td>
                 
                </tr>             
                <tr>
                  
                  <td>
                    <a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/Mascotas.aspx">
                      Travelling with pets
                    </a>
                  </td>
                 
                  <td>
                    <a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/Reembolsos.aspx">
                      Request a refund
                    </a>
                  </td>
                  
                </tr>
                <tr>
                  
                  <td><a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/tarifas-equipaje-y-de-servicios-opcionales.aspx">Baggage and service fees</a></td>
                 
                  <td><a href="http://www.copaair.com/sites/CC/en/Acerca-de-Copa-Airlines/Pages/formulario-reclamo-equipaje.aspx">Baggage Claim</a></td>
                 
                </tr>
                <tr>
                 
                  <td>
                    <a href="http://www.copaair.com/sites/CC/en/flight-information/Pages/routemap.aspx">Where we fly</a>
                  </td>
                  
                  <td>
                    <a href="http://www.copaair.com/sites/CC/en/Acerca-de-Copa-Airlines/Pages/formulario-articulos-olvidados.aspx">Report your forgotten item</a>
                  </td>
                  
                </tr>
                <tr>
                  
                  <td><a href="http://www.copaair.com/sites/cc/en/Pages/timatic.aspx">Immigration requirements</a></td>
                 
                  <td><a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/atencion-pasajero.aspx">Comments / complaints</a></td>
                  
                </tr>
                <tr>
                  
                  <td><a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/Servicios-Especiales-para-Pasajeros.aspx">Special Assistance</a></td>
                  
                  <td><a href="http://www.copaair.com/sites/CC/en/impuestos/Pages/declaracion-porte-valores-br.aspx">Electronic Declaration of goods (Brazil)</a></td>
                  
                </tr>
                <tr>
                 
                  <td><a href="http://www.copaair.com/sites/CC/en/flight-information/Pages/flightstatus.aspx">Flight status</a></td>
                  
                  <td></td>
                  
                </tr>
                <tr>
                  <td><a href="http://www.copaair.com/sites/CC/en/flight-information/Pages/timetables.aspx">Timetables</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td><a href="http://www.copaair.com/sites/cc/en/Pages/FlightNotifications.aspx">Flight notifications</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td><a href="http://www.copaair.com/sites/CC/en/informacion-de-viaje/Pages/Durante-el-Vuelo.aspx">Onboard</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
      
          </div>
        </div><!-- row -->
              
       <div class="row">
         <div class="col-xs-12 col-md-6 col-lg-6">
           <p>Copyright Â© Copa Airlines, Incorporated. All rights reserved.</p>

              <a href="http://www.copaair.com/sites/CC/en/Acerca-de-Copa-Airlines/Pages/terminos-y-condiciones.aspx" class="customerService">Terms and conditions</a>
                | 
              <a href="http://www.copaair.com/sites/CC/en/Acerca-de-Copa-Airlines/Pages/politica-de-privacidad.aspx" class="customerService">Privacy policy</a>
                |
                <a href="http://www.copaair.com/sites/CC/en/acerca-de-copa-airlines/pages/politicas-de-viaje.aspx" class="customerService">Contract of carriage</a>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="pull-right">
              
              <a href="https://www.facebook.com/copaairlines" target="_blank">
                <img class="smallicon" src="img/btn-facebook.png" alt="Facebook" style="height:16px;width:16px;border-width:0px;">
              </a>
              <a href="https://www.twitter.com/copaairlines" target="_blank"><img class="smallicon" src="img/btn-twitter.png" alt="Twitter" style="height:16px;width:16px;border-width:0px;"></a> 
              <a href="https://plus.google.com/115021246614198861730" target="_blank" rel="publisher"><img class="smallicon" src="img/btn-google-plus.png" alt="Google Plus Page" style="height:16px;width:16px;border-width:0px;"></a> 
              <a href="https://www.youtube.com/copaairlines" target="_blank"><img class="smallicon" src="img/btn-youtube.png" alt="YouTube" style="height:16px;width:16px;border-width:0px;"></a> 
              <a href="http://pinterest.com/copa airlines/" target="_blank"><img class="smallicon" src="img/btn-pinterest.png" alt="Pinterest" style="height:16px;width:16px;border-width:0px;"></a>
            </div>
          </div>
       </div><!-- row -->
      </footer>


      </div> 
    </div> <!-- /container -->


    <script src="js/angular.min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/side_menu.js"></script>
    <script src="js/main.js"></script>
    <script src="js/angular_logic.js"></script>
  </body>
</html>
