<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Copa Airlines</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/copa_style.css" rel="stylesheet">

  </head>

  <body ng-app="darkSite">

    <div class="container" ng-controller="MenuController as menuCtr">
      <div class="row">

        <div class="col-xs-6 col-md-9 col-lg-9">
          <a href="www.copaair.com">
            <img src="img/COPA_STAR_LOGO.svg" class="logo_copa">
          </a>  
        </div>
        <div class="pull-right col-xs-6 col-md-3 col-lg-3">
         
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-globe fa-3"></i></div>
                <select 
                  class="form-control" 
                  ng-model="menuCtr.currentLang" 
                  ng-change="menuCtr.setLang()"
                  ng-options="option.label for option in menuCtr.select track by option.value">
                </select>
              </div>
            </div>
         
          </div>
          
      </div>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        
          <div class="navbar-header">
            <button type="button" 
              class="navbar-toggle collapsed" 
              data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">

              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="item in menuCtr.menuTop">
                <a href="{{ item.url }}" ng-class="menuCtr.navClass">
                  {{ item.text }}
                </a>
              </li>
            </ul>
            
          </div><!--/.nav-collapse -->
      </nav>
      <div class="row" ng-controller="TabController as tabCtr">
        <div class="col-sm-4">
          <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav">
              <ul class="nav" id="side-menu">
                <li class="active">
                  <a href="#"><i class="fa fa-book fa-2"></i> {{ menuCtr.menuLeft.title }} <span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                    <li>
                      <a href="{{ menuCtr.menuLeft.items[0].url }}" ng-click="tabCtr.setTab(1)">{{ menuCtr.menuLeft.items[0].text }}</a>
                      <a href="{{ menuCtr.menuLeft.items[1].url }}" ng-click="tabCtr.setTab(2)">{{ menuCtr.menuLeft.items[1].text }}</a>
                      <a href="{{ menuCtr.menuLeft.items[2].url }}" ng-click="tabCtr.setTab(3)">{{ menuCtr.menuLeft.items[2].text }}</a>
                      <a href="{{ menuCtr.menuLeft.items[3].url }}" ng-click="tabCtr.setTab(4)">{{ menuCtr.menuLeft.items[3].text }}</a>
                    </li>
                  </ul><!-- /.nav-second-level -->
                </li>
              </ul>
            </div><!-- /.sidebar-collapse -->
          </div>
        </div><!-- col-sm-4 -->

        <div id="content" class="col-sm-8 blog-main">
          <div ng-show="tabCtr.isSet(1)">
            <section id="blog-post" class="tab" ng-controller="Tab2Controller as tab2Ctr">
  <h1>Corporate</h1>
  <ul class="nav nav-tabs">
   
    <li ng-class="{ active: tab2Ctr.isSet(1) }">
      <a href ng-click="tab2Ctr.setTab(1)">{{ menuCtr.history.title }}</a></li>
    <li ng-class="{ active: tab2Ctr.isSet(2) }">
      <a href ng-click="tab2Ctr.setTab(2)">{{ menuCtr.security.title }}</a></li>
    <li ng-class="{ active: tab2Ctr.isSet(3) }">
      <a href ng-click="tab2Ctr.setTab(3)">{{ menuCtr.fleet.title }}</a></li>
    <li ng-class="{ active: tab2Ctr.isSet(4) }">
      <a href ng-click="tab2Ctr.setTab(4)">{{ menuCtr.hub.title }}</a></li>
    
  </ul>
 
  <div ng-show="tab2Ctr.isSet(1)">
    <h4>{{ menuCtr.history.title }}</h4>
    <p>{{ menuCtr.history.text }}</p>
  </div>
  <div ng-show="tab2Ctr.isSet(2)">
    <h4>{{ menuCtr.security.title }}</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div ng-show="tab2Ctr.isSet(3)">
    <h4>{{ menuCtr.fleet.title }}</h4>
   
  </div>
  <div ng-show="tab2Ctr.isSet(4)">
    <h4>{{ menuCtr.hub.title }}</h4>
    
    <p>In the last 5 years, Copa Holdings has invested on fleet more than of US$ 1.6 million. For 2010, forecast investment on fleet is US $525 million. We offer the most modern fleet in the region and in the world, with Boeing 737-700, Boeing 737-800, and Embraer 190AR aircraft.</p>

      <article>
        <h4>Boeing 737-700</h4>
        <div class="col-xs-12 col-md-6 col-lg-6"><img src="../../img/boeing700.jpg"></div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <p>Copa Airlines has 14 aircrafts.</p>
          <p>Copa Airlines Colombia has 4 aircrafts.</p>
          <p>12 seats in Business Class</p>
          <p>112 seats in Main Cabin</p>
          <a href="http://www.copaair.com/sites/cc/en/nuestros-productos/pages/detalles-tecnicos-boeing-737-700.aspx">
            <p>Technical details</p>
          </a>
          <a href="http://www.copaair.com/sites/cc/en/informacion-de-viaje/pages/durante-el-vuelo.aspx">
            <p>Entertainment on board</p>
          </a>
        </div>
      </article>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

          </div>
          <div ng-include="'content/' + menuCtr.currentLang.value + '/press-releases-en.html'" ng-show="tabCtr.isSet(2)"></div>
          <div ng-include="'content/' + menuCtr.currentLang.value + '/latestNews.html'" ng-show="tabCtr.isSet(3)"></div>
          <div ng-include="'content/' + menuCtr.currentLang.value + '/assistance-to-family.html'" ng-show="tabCtr.isSet(4)"></div>
        </div><!-- /.blog-main -->

      </div><!-- /.row -->
      <footer ng-show="menuCtr.width < 600">
        <div class="row footer-background">
          <div class="col-xs-6 footer-body" ng-repeat="list in menuCtr.menuBottom.lists track by list.id">
            <div class="footer-title">
              <h3>{{ list.title }}</h3>
            </div>
            <ul>
              <li ng-repeat="item in list.items">
                <a href="{{ item.url }}">{{ item.label }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" ng-include="'content/' + menuCtr.currentLang.value + '/copyright.html'"> 
        </div>
      </footer>
      <footer 
        ng-show="menuCtr.width > 600" 
        ng-include="'content/' + menuCtr.currentLang.value + '/full-footer-ul.html'"></footer>


      </div> 
    </div> <!-- /container -->


    <script src="js/angular.min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/side_menu.js"></script>
    <!--<script src="js/main.js"></script>-->
    <script src="js/angular_logic_list.js"></script>
  </body>
</html>
